<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Characters - Social Circles</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>SOCIAL</h1>
            <span class="dot"></span>
            <h1>CIRCLES</h1>
        </a>
        <nav>
            <ul>
                <a href="/play"><li>play</li></a>
                <a href="/characters"><li  class="current-page">characters</li></a>
                <%- include('../partials/loginaccount') %>
            </ul>
        </nav>
    </header>
    <div class="body">
        <div class="characters">
            <div class="character1">
                <div class="thumbnail">
                    <img src="<%= chars[0].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[0].name %>"><h3><%= chars[0].name %></h3></a>
            </div>
            <div class="character2">
                <div class="thumbnail">
                    <img src="<%= chars[1].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[1].name %>"><h3><%= chars[1].name %></h3></a>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="<%= chars[2].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[2].name %>"><h3><%= chars[2].name %></h3></a>
            </div>
            <div class="character3">
                <div class="thumbnail">
                    <img src="<%= chars[3].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[3].name %>"><h3><%= chars[3].name %></h3></a>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="<%= chars[4].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[4].name %>"><h3><%= chars[4].name %></h3></a>
            </div>
            <div class="character2">
                <div class="thumbnail">
                    <img src="<%= chars[5].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[5].name %>"><h3><%= chars[5].name %></h3></a>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="<%= chars[6].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[6].name %>"><h3><%= chars[6].name %></h3></a>
            </div>
            <div class="character3">
                <div class="thumbnail">
                    <img src="<%= chars[7].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[7].name %>"><h3><%= chars[7].name %></h3></a>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="<%= chars[8].thumbnail_url %>">
                </div>
                <a href="/character/<%= chars[8].name %>"><h3><%= chars[8].name %></h3></a>
            </div>
            <!--
            <div class="character2">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character3">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character2">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character3">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character2">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character3">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            <div class="character1">
                <div class="thumbnail">
                    <img src="./profilepic.png">
                </div>
                <h3>character name</h3>
            </div>
            -->
        </div>
    </div>
</body>